.about-container {
  /* min-height: calc(100% - 120px) !important; */
  height: auto;
  padding: 2vh 11.805%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
}
.about-content > div {
  flex: 1;
}

.about-content .about-img {
  align-self: center;
  justify-self: center;
}
.about-content .about-img img {
  max-width: 400px;
  height: 400px;
}

.social-links-left {
  align-self: center;
}
.my_links {
  transition: color 500ms ease;
}
.my_links:hover {
  color: #86c232;
}
.my_links span {
  display: flex;
  align-items: center;
}

.my_links span > * {
  margin: 5px;
}

@media only screen and (max-width: 1100px) {
  .about-content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 724px) {
  .social-links-left {
    align-self: flex-start;
    padding-top: 20px;
  }
  .about-3d,
  .about-content {
    margin: 2rem 0;
  }
  .about-3d img {
    width: 250px;
  }
}
