.footer-container {
  clear: both;
  height: 20px;
  font-size: 0.8em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.footer-contact {
  display: flex;
  justify-content: center;
}
.footer-contact a {
  margin: 0 10px;
}
.footer-contact a:hover {
  color: #86c232;
}
