@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222629 !important;
  color: #ffffff !important;

  /* background-color: #37474f !important;
  color: #fff; */
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1.5em;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
a {
  color: white;
  text-decoration: none;
}

.myportfolio-container {
  height: 100%;
  position: relative;
}

.separator {
  font-size: 22px;
  text-align: center;
  line-height: 22px;
}
.separator span {
  position: relative;
}
.separator span:before,
.separator span:after {
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 2px solid #ffffff;
  top: 10px;
  width: 40px;
}
.separator span:before {
  right: 100%;
  margin-right: 8px;
}
.separator span:after {
  left: 100%;
  margin-left: 8px;
}

.section-heading p {
  font-size: 2em;
  color: #86c232;
  text-align: center;
}
.section-heading {
  padding: 40px 0;
}
